import React from 'react';

export default function {{pascalCase name}}Layout({
  children,
}: {
  children: React.ReactNode;
}) {
  return (
    <div className="w-full h-full {{dashCase name}-layout}">
      {children}
    </div>
  );
}